# Compiled JavaScript files
lib/
*.js
*.js.map

# TypeScript cache
*.tsbuildinfo

# Node.js dependencies
node_modules/

# Firebase cache
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Environment files
.env
.env.local
.runtimeconfig.json

